extends layout

block hero-unit
  .jumbotron
    .container
      h1 새로운 여행을 시작하세요
      

block content
  .container
    .row
      .col-md-6
        h3 환영합니다!
        a.btn.btn-success.btn-lg( href="/posts" ) 숙소예약하기
        p
        a.btn.btn-warning.btn-lg( href="/posts/new" ) 숙소등록하기

        
      .col-md-6
        h3 주요 기능
        ul
          li Reservation - 숙소둘러보기, 숙소예약하기
          li Hosting     - 숙소등록하기
  
